tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style22
	{mso-style-name:Default;}
.style24
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:#0563C1;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:"Excel Built-in Hyperlink";}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Liberation Sans";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style31
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Normal 2";}
.font8
	{color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font9
	{color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font11
	{color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font12
	{color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font13
	{color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font14
	{color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font19
	{color:#0A0A0A;
	font-size:12.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Liberation Sans";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl79
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl80
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl81
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	white-space:normal;}
.xl82
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:center;
	white-space:normal;}
.xl83
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl84
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl85
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	white-space:normal;}
.xl86
	{mso-style-parent:style22;}
.xl87
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	white-space:normal;}
.xl88
	{mso-style-parent:style24;
	color:#0563C1;
	font-size:12.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	white-space:normal;}
.xl89
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;
	white-space:normal;}
.xl90
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;
	white-space:normal;}
.xl91
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border:.5pt solid black;
	white-space:normal;}
.xl92
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl93
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;}
.xl94
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl95
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	text-align:left;
	white-space:normal;}
.xl96
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;}
.xl97
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;}
.xl98
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;}
.xl99
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;
	white-space:normal;}
.xl100
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl101
	{mso-style-parent:style22;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.xl102
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl103
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;}
.xl104
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl105
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl106
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:2.0pt double windowtext;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;}
.xl107
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;}
.xl108
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;
	white-space:normal;}
.xl109
	{mso-style-parent:style22;
	color:#ED7D31;
	font-size:11.0pt;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.xl110
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;}
.xl111
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl112
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl113
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl114
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;}
.xl115
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl116
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl117
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl118
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;
	white-space:normal;}
.xl119
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl120
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid black;}
.xl121
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.xl122
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl123
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;}
.xl124
	{mso-style-parent:style22;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.xl125
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl126
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl127
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl128
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl129
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl130
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;
	white-space:normal;}
.xl131
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl132
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;}
.xl133
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:"0\.0%";
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl134
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;}
.xl135
	{mso-style-parent:style22;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	white-space:normal;}
.xl136
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl137
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-style:italic;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;}
.xl138
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F2F2F2;
	mso-pattern:#F2F2F2 none;}
.xl139
	{mso-style-parent:style22;
	color:#0A0A0A;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl140
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:"0\.000%";
	text-align:left;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl141
	{mso-style-parent:style31;
	color:black;
	font-size:12.0pt;
	font-weight:700;
	font-family:Aptos;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;}
